# Environment files
.env
.env.local

# Python cache
__pycache__/
*.pyc

# Elastic Beanstalk
.elasticbeanstalk/

# Virtual environments
venv/
.venv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
